[submodule "freertos/kernel"]
	path = freertos/kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "wamr"]
	path = wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
